extends layout

block content
  .container
    .header
      h1 About Me
    .content
      p Hello! I'm #{name}, a passionate web developer.
      p I specialize in front-end technologies like HTML, CSS, and JavaScript.
      p Check out my portfolio to see some of my recent projects.
    .profile 
      img(src="images/perso.jpg", alt="")